<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }
        main {
            margin: 20px;
        }
        h2 {
            margin-bottom: 10px;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            padding: 20px;
            margin-bottom: 20px;
        }
        li b {
            color: #333;
            font-size: 18px;
            margin-bottom: 5px;
        }
        li p {
            color: #666;
            margin: 0;
        }
        li span {
            color: #999;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Notifications</h1>
    </header>
    <main>  
        <h2>Notification List : </h2>
        <ul id="notification-list">
            <% notifications.forEach(notification => { %>
                <li>
                    <b><%= notification.title %></b>
                    <p><%= notification.message %></p>
                    <span><%= notification.createdDate %></span>
                </li>
            <% }) %>
        </ul>
        <footer>
          <p>&copy; 2024 Bagusdev. All rights reserved.</p>
      </footer>
    </main>
    
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        const notifications = document.getElementById("notification-list");
        const userId = `<%= userID %>`;

        socket.on(`user-${userId}`, (notification) => {
            const item = document.createElement('li');
            item.innerHTML = `
                <b>${notification.title}</b>
                <p>${notification.message}</p>
                <span>${notification.createdDate}</span>
            `;
            notifications.appendChild(item);
        });
    </script>
</body>
</html>